body {
  margin: 50px;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(250, 250, 250);
  color: #353535;
}

button {
  border-radius: 5px;
  background-color: whitesmoke;
  border: none;
  font: inherit;
  outline: inherit;
  position:relative;       
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1) inset;
  color: #353535;
  cursor: pointer;
}

button:before, button:after {
	content:"";
  position:absolute; 
  z-index:-1;
  box-shadow:0 0 10px rgba(0,0,0,0.8);
  top:50%;
  bottom:0;
  left:10px;
  right:10px;
  border-radius:100px / 10px;
}

button:hover {
  box-shadow: 0 1px 4px rgb(240, 240, 240), 0 0 10px rgb(256, 256, 256) inset;
}

button:hover:before, button:hover:after {
	content:"";
  position:absolute; 
  z-index:-1;
  box-shadow:0 0 5px rgba(0,0,0,0.8);
  top:50%;
  bottom:0;
  left:10px;
  right:10px;
  border-radius:100px / 10px;
}

.feature-config-options {
  margin: 0px;
}

.config-button {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  background-color: cornflowerblue;
  font-size: .9em;
  padding: 12px;
}

.config-button:active {
  background-color: rgb(40, 109, 238);
}

.character-button {
  padding: .5em 1em;
}

.button-container {
  display: inline-block;
  margin: 5px 2px;
}

.selected {
  background-color: paleturquoise;
}

